@import url('https://fonts.googleapis.com/css2?family=Borel&family=Lavishly+Yours&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:wght@300;400;600&family=Pacifico&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  font-family: "Raleway" ,sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
